.super-mario {
    width: 200px;
    position: absolute;
    top: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 60px;
    
  }
  
  .baloon {
    position: absolute;
    left: 320px;
    top: 250px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 345px;
    top: 290px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 400px;
  }