div:hover {
    border: solid;
}

.yellow {
    background-color: yellow;
}

.violet {
    background-color: violet;
}

.green {
    background-color: rgb(59, 124, 59);
    /* width: 20px; */
    padding: 10px;
}

.gray {
    background-color: rgb(80, 80, 80);
}

.blue {
    background-color: lightblue;
}

h3:nth-child(odd) {
    font-style: italic;
}