h1 {
  text-align: center;
}

.podiun-section{
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin: auto;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline;
  padding: 0px 40px 30px 40px;
 }

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline;
  padding: 0px 40px 30px 40px;
}

li {
  list-style: none;
}

section.premiacao-section ul li {
  display: inline-block;
}

.premiacao-section {
  text-align: center;
  margin-top: 12px;
}

.second-line {
  display: inline-block;
}

